  body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 14px;
    color: silver;
    font-weight: bold;
    text-decoration: underline;
    }
  h1,h2 {
    color: gray;
    }
  h2 {
    font-size: 17px; 
    }
  h1 {
    border-bottom: 1px solid black;
    font-size: 21px;
    }
  p {
    color: maroon;
    font-size: 14px;
    }
  p.greentea {
    color: green;
    }
  p.raspberry {
    color: blue;
    }
  p.blueberry {
    color: purple;
    }